services:
  mongo:
    image: mongo:latest
    container_name: scorehub-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./server
    container_name: scorehub-backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: scorehub-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data: